/*
* Prefixed by https://autoprefixer.github.io <3
*/

/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a {
  cursor: pointer;
}
:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #1400f3;
    --primary-color-light: #dedef1;
    --toggle-color: rgb(168, 168, 168);
    --text-color: #707070;

    /* ====== Transition ====== */
    /* --tran-03: all 0.2s ease; */
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

tr:not(:nth-child(1)):hover {
  background-color: rgb(192, 192, 192);
}
.tablegh tr:hover {
  background-color: rgb(192, 192, 192);
}

body{
    /* min-height: 100vh; */
    background-color: var(--body-color);
    /* transition: var(--tran-05); */
}

/* ::selection{
    background-color: var(--primary-color);
    color: #fff;
} */

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: rgb(221, 221, 221);
    --text-color: #ccc;
}

#cart_select {
  border-radius: 0.2rem;
}

html {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

/* ===== Sidebar ===== */
 .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100% !important;
    width: 250px;
    /* width: 10%; */
    padding: 10px 14px;
    background: var(--sidebar-color);
    -webkit-transition: var(--tran-05);
    -o-transition: var(--tran-05);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebarBack {
  /* geridön */
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99;
  background-color: #7070706e;
}

.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    -webkit-transition: var(--tran-03);
    -o-transition: var(--tran-03);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.sidebar header .logo-text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

/* sidebar close +- */
.sidebar header .toggle{
    visibility: visible;
    position: absolute;
    top: 50%;
    right: -25px;
    -webkit-transform: translateY(-50%) rotate(180deg);
        -ms-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #282bff;
    color: var(--sidebar-color);
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 22px;
    cursor: pointer;
    -webkit-transition: var(--tran-05);
    -o-transition: var(--tran-05);
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    -webkit-transform: translateY(-50%) rotate(0deg);
        -ms-transform: translateY(-50%) rotate(0deg);
            transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    -webkit-transition: var(--tran-05);
    -o-transition: var(--tran-05);
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    -webkit-transition: var(--tran-05);
    -o-transition: var(--tran-05);
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    -webkit-transition: var(--tran-03);
    -o-transition: var(--tran-03);
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    overflow-y: scroll;

    ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

    cursor: default;
}
/* .sidebar .menu-bar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
} */
.sidebar .menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    -webkit-transition: var(--tran-05);
    -o-transition: var(--tran-05);
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}
.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    -webkit-transition: var(--tran-05);
    -o-transition: var(--tran-05);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background-color: var(--sidebar-color);
    -webkit-transition: var(--tran-04);
    -o-transition: var(--tran-04);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    left: 250px;
    /* left: 10%; */
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    -webkit-transition: var(--tran-05);
    -o-transition: var(--tran-05);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 30px;
    background-color: rgb(0, 170, 255);
    color: white;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}

.head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #338fd0;
}
.hd_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#mobileMenuButton { /* hd_txt içerisindeki*/
  display: none;
  margin: 0;
  margin-right: 1rem;
  color: white;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
#mobileMenuButton:hover {
  cursor: pointer;
  color: rgb(201, 201, 201);
}
#sidebarMobileMenuButton {
  visibility: hidden;
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 22px;
  cursor: pointer;
  -webkit-transition: var(--tran-05);
  -o-transition: var(--tran-05);
  transition: var(--tran-05);
}
.hd_txt h1 {
    color: white;
}
.hd_search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;

    padding-top: 0.4rem;
    padding-bottom: 0.4rem;

    background-color: var(--primary-color-light);
    color: var(--text-color);
    /* border-radius: 4px; */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; 
}
#hd_search_icon {
  margin-left: 0.1rem;
  padding: 0.3rem;
  margin-right: 0.1rem;
    /* padding-left: 0.3rem;
    padding-right: 0.3rem; */
    font-size: 1.6rem;

    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}
#hd_search_icon:hover {
    cursor: pointer;
    /* padding: 0.3rem; */
    border-radius: 5px;
}
.hd_search input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 1.1rem;
    
    padding-right: 0.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    background-color: var(--primary-color-light);
}
/* Just rotation  */
@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }
  .marginpaddingZero {
      margin: 0;
      padding: 0;
  }
  .hrC {
      height:2px; 
      background-color: rgb(71, 70, 146); 
      border:none; 
      outline:none;
  }
  
    table {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      font-family: arial, sans-serif;
      border-collapse: collapse;
      margin: 0 auto;
      width: 100%;
    }
  
    td, th {
      line-height: normal;
      border: 1px solid #d1d1d1;;
      text-align: left;
      padding: 8px;
    }
  
    /* .tablef {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    } */
    .tablef tr th {
      text-align: center;
      vertical-align: middle;
    }
    .tablef tr td {
      text-align: center; 
      vertical-align: middle;
    }
  
    .cancelReq {
      float: left;
      border-radius: 5px;
      background-color: red;
      color:white;
      border-color: red;
    }
    .cancelReq:hover {
      border:1px solid red; 
      border-color: rgb(163, 0, 0);
      color: rgb(220, 220, 220);
    }
  
    .confirmReq {
      float: right;
      background-color: rgb(40, 216, 0);
      border-color: rgb(40, 216, 0);
      color:white;
      border-radius: 5px;
    }
    .confirmReq:hover {
      border:1px solid rgb(40, 216, 0);
      color: rgb(220, 220, 220);
    }
  
    .miniHeader {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; 
      -webkit-box-orient:horizontal; 
      -webkit-box-direction:normal; 
          -ms-flex-direction:row; 
              flex-direction:row; 
      -webkit-box-pack: justify; 
          -ms-flex-pack: justify; 
              justify-content: space-between; 
      margin-top: 10px;
      margin-bottom: 5px; 
      padding-bottom:0; 
      -webkit-box-align: center; 
          -ms-flex-align: center; 
              align-items: center
    }
    .fiyuv {
      float: right;
      width: 45%;
    }
    .transac {
      margin-bottom: 20px;
    }
    .tablegh {
      background-color: white; 
      border: 1px solid #d1d1d1; 
      /* padding-top: 8px;  */
      /* padding: 5px; */
      border-radius: 5px; 
      /* overflow: auto; */
    }
    .tableghcolor {
      color: white !important;
      background-color: black !important;
      border: 1px solid #00ff22 !important
    }
/*     .tableghblack {
    } */
    .centerContainer {
      margin-top:10px; 
    }
    .buyStock {
      float: left;
      width: 53%;
    }
    .buyStockChild {
      background-color: white;
      border: 1px solid #d1d1d1;
      border-radius: 5px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 5px;
      padding-top: 8px;
    }
    .stock_name_gh {
      padding: 0;
      margin: 0;
      text-align: center;
    }
    .miniInfos {
      margin-top: 5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }
    .mini {
      width: 31%;
      border: 1px solid rgb(168, 168, 168);
      padding: 5px;
      text-align: center;
      border-radius: 3px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      font-size: 1rem;
    }
/*     .mini:hover {
      background-color: rgb(217, 217, 217);
    } */
    .mini span {
      font-size: 0.95rem;
    }
  
    .quantityBox {
      margin-top: 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .quantityBox form {
      width: 100%;
    }
    .quantityBox form #inputQuantity, #mengeQuantity {
      padding: 6px 12px;
      background: rgb(31, 32, 35);
      border: 1px solid rgb(60, 63, 68);
      border-radius: 4px;
      font-size: 13px;
      color: rgb(247, 248, 248);
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      -webkit-transition: border 0.15s ease 0s;
      -o-transition: border 0.15s ease 0s;
      transition: border 0.15s ease 0s;
    }
    .quantityBox form #inputQuantity:focus{
      outline: none;
      -webkit-box-shadow: none;
              box-shadow: none;
      /* border-color: rgb(100, 153, 255); */
      border-color: rgb(110, 255, 100);
    }
    /*  
    .quantityBox form input:focus {
      background: rgb(42, 44, 51);
    } 
    */
    
    .quantityBox form #inputQuantity {
      -moz-appearance: textfield;
     }
     
    .quantityBox form #inputQuantity::-webkit-inner-spin-button, 
    .quantityBox form #inputQuantity::-webkit-outer-spin-button {
         -webkit-appearance: none;
         appearance: none;
     }
  
    /* .quantityBox form input {
      -moz-appearance: textfield;
    } */
  
    .buttonBox {
      margin-top: 15px;
      margin-bottom: 6px;
    }
  
  .buttonBox button{
    width: 100%;
    background-color: initial;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#00D775), to(#00BD68));
    background-image: -o-linear-gradient(top, #00D775, #00BD68);
    background-image: linear-gradient(-180deg, #00D775, #00BD68);
    border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
            box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
    height: 44px;
    line-height: 44px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
    z-index: 9;
    border: 0;
    font-weight: bold;
  }
  
  .buttonBox button:hover {
    background: #00bd68;
  }
  .cancelRequest {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
            box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 14px;
    min-height: 16px;
    outline: 0;
    padding: 6px 8px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    vertical-align: middle;
  }
  
  .cancelRequest:hover,
  .cancelRequest:active {
    background-color: initial;
    background-position: 0 0;
    /* color: #FF4742; */
    color: #c22924;
  }
  
  .cancelRequest:active {
    opacity: .5;
  }
  .removeLike {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
            box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 14px;
    min-height: 16px;
    outline: 0;
    padding: 6px 8px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    vertical-align: middle;
  }
  
  .removeLike:hover,
  .removeLike:active {
    background-color: initial;
    background-position: 0 0;
    /* color: #FF4742; */
    color: #c22924;
  }
  
  .removeLike:active {
    opacity: .5;
  }
  #qBoxLastChild {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-orient: horizontal; 
    -webkit-box-direction: normal; 
        -ms-flex-direction: row; 
            flex-direction: row; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center; 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center;
    border: 1px solid rgb(168, 168, 168); 
    border-radius: 3px; 
    padding: 10px;
  }
  
  .select-dropdown,
  .select-dropdown * {
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .select-dropdown {
    position: relative;
    /*background-color: #d8d8d8;*/
    background: rgb(31, 32, 35);
    border: 1px solid rgb(60, 63, 68);
    border-radius: 4px;
  }
  .select-dropdown select {
    color: white;
    font-size: 1rem;
    font-weight: normal;
    max-width: 100%;
    padding: 8px 20px 8px 10px;
    border: none;
    background-color: transparent;
      -webkit-appearance: none;
      -moz-appearance: none;
    appearance: none;
  }
  .select-dropdown select:hover {
    /* background-color: #e7e7e7; */
    background: rgb(37, 42, 57);
  }
  .select-dropdown select:active, .select-dropdown select:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .select-dropdown:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    width: 0;
    height: 0;
    margin-top: -2px;
    border-top: 5px solid rgb(48, 48, 48);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }
  .select-dropdown::after:hover {
    background-color: #cccccc;
  }
  
  .padding-conf {
    padding-left: 2rem;
    padding-right: 2rem;
  
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
  }

  .not_count::after {
    position: absolute;
    top: 5%;
    right: 4.5%;
    
    width: 16px;
    height: 16px;
    border-radius: 10px;

    padding: 0.1rem;
    background-color: red;
    color: white;
    font-size: 16px;
    content: attr(data-count);
    text-align: center;
  }

  @media only screen and (max-width: 1100px) {
    .buyStock {
      float: none;
      width: 100%;
    }
    .tablegh {
      /* float: none;
      width: 100%; */
      margin-top: 10px;
      margin-bottom: 20px;
    }
    .fiyuv {
      float: none;
      width: 100%;
    }
    .transac {
      margin-bottom: 0px;
    }
  }
  @media only screen and (max-width: 850px) { 
    #qBoxLastChild {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    #qBoxLastChild .qqChild:first-child {
      margin-bottom: 10px;
    }
    /* Düzenleme kısımları */
    .home{
      position: static;
      width: 100% !important;
      /* background-color: var(--body-color);
      transition: var(--tran-05); */
    }
    .sidebar {
      display: none;
      position: fixed;
      border-right: 2px solid rgb(213, 213, 213);
    }
    .sidebar header .toggle{
     visibility: hidden;
    }
    #mobileMenuButton {
      display: block;
    }
    #sidebarMobileMenuButton {
      visibility: visible;
      position: absolute;
      top: 50%;
      right: 0px;
      -webkit-transform: translateY(-50%) rotate(180deg);
          -ms-transform: translateY(-50%) rotate(180deg);
              transform: translateY(-50%) rotate(180deg);
      height: 25px;
      width: 25px;
      color: rgb(49, 49, 49);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-size: 22px;
      cursor: pointer;
      -webkit-transition: var(--tran-05);
      -o-transition: var(--tran-05);
      transition: var(--tran-05);
    }
    #sidebarMobileMenuButton:hover {
      color:#707070;
    }
  }
  
  @media only screen and (max-width: 600px) {

    .padding-conf {
      padding-left: 1.3rem;
      padding-right: 1.3rem;
  
      padding-top: 1.1rem;
      padding-bottom: 1.1rem;
    }
    .hd_search {
      margin-left: 0.5rem;
    }

  }